.clr{
	clear:both;
}

.topborder{
	float:left;
	width:20%;
	background-color:dodgerblue;
	margin-bottom:4px;
}
.button{
	background-color:limegreen;
	color:orangered;
	padding:10px 15px;
	border:none;
}

.button:hover{
	background-color:orangered;
	color:limegreen;
	padding:10px 15px;
	border:none;
}

body{
	background-image: linear-gradient(to right, purple , yellow);
	color:navajowhite;

	font-family: Arial, Helvetica,sans-serif;
	font-size:16px;
	font-weight:normal;

	line-height:1.6em;
	margin:0;
}

.middlefy{
	text-align:center;
	font-size:9px;
	margin:0px;
	padding:0px;
}

.container{
	width:80%;
	margin:auto;
	max-width: 1000px;
}

.mytitle{
	text-align:center;
	text-shadow: 	-1px 1px 0 black,
					1px -1px 0 black,
					-1px -1px 0 black;
}

.misstake{
		text-decoration: green wavy underline;
}

.quote{
	font-style:italic;
}

.box-1{
	box-shadow: 10px 10px black;
	text-align:center;
	background-color:#333;
	color:#fff;
	border:5px red solid;
	width:500px;
	padding:0px 5px;
	margin:auto;
	animation-name: boxwiden;
	animation-duration:3s;
	animation-direction:alternate;
	animation-iteration-count: infinite;
}
@keyframes boxwiden{
	0%{width:500px;letter-spacing: 0.3em;color:grey;transform:rotateY(0deg);}
	30%{transform:rotateY(0deg);}
	90%{width:600px;letter-spacing: 0.1em;color:pink;}
	100%{width:600px;letter-spacing: 0.1em;color:pink;transform:rotateY(360deg);}
}

.box-1 h1{
	font-style: bold;
	color:red;
	font-family: sans-serif;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	animation-name: letterwiden;
	animation-duration:4s;
	animation-iteration-count: infinite;
	animation-direction:alternate;

}

@keyframes letterwiden{
	0%{	letter-spacing: 0.1em; transform:rotateY(0deg);}
	100%{letter-spacing: 0.9em; transform:rotateY(1080deg);}
}

.box-2{
	background-color: yellowgreen;
	color:#333;
	border: 3px dotted black;
	padding: 20px;
	margin: 20px 0;
}

.box-2 p{
	float:left;
	width:70%;
}

.box-2 img{
	float:right;
	width:27%;
}

.box-2 h1{
	line-height: 1.2em;
	color:green;
}

.categories{
	background-color: pink;
	border: 1px #ccc solid;
	padding: 10px;
	border-radius: 15px;
}

.categories h2{
	text-shadow: 	-2px 2px 0 black,
					2px -2px 0 black,
					-2px -2px 0 black,
					2px 2px 0 black;
	text-align: center;
	font-style:bold;
	font-size:35px;
}

.categories ul{
	padding:0;
	list-style:none;
}

.categories a{
	text-decoration: none;
	color:#000;
}

.categories a:hover{
	color:red;
}

.categories li{
	padding-bottom:8px;
	border-bottom:dotted 1px #333;
	list-style-image: url('images/check.png');
}

.my-form{
	padding:20px;
}

.myform .form-group{
	padding-bottom:15px;
}

.my-form label{
	display:block;
}

.my-form input[type="text"], .my-form textarea{
	padding:8px;
	width:100%;
	resize: none;
}

.block{
	background-color: indianred;
	color:lawngreen;
	float:left;
	width:33.3%;
	border:1px solid hotpink;
	padding:10px;
	box-sizing:border-box;
}

#main-block{
	color:#333;
	float:left;
	width:70%;
	background-color: whitesmoke;
	padding:15px;
	box-sizing:border-box; 
}
#sidebar{
	float:right;
	width:30%;
	background-image:url('images/lava.gif');
	color:black;
	font-size: 25px;
	border: 12px black double;
	text-shadow: 	-1px 1px 0 floralwhite,
					1px -1px 0 floralwhite,
					-1px -1px 0 floralwhite;
	padding:15px;
	box-sizing:border-box; 
}

.p-box-1{
	position:fixed;
	top:0px;
	left:0px;
	background-image: url('images/walnut.jpg');
	text-align: center;
	color:white;
	width:100px;
	height:50px;
	border:1px black solid;
}
.p-box-2{
	position:fixed;
	top:0px;
	right:0px;
	background-image: url('images/walnut.jpg');
	text-align: center;
	color:white;
	width:100px;
	height:50px;
	border:1px black solid;
}
.p-box-3{
	position:fixed;
	bottom:0px;
	left:0px;
	background-image: url('images/walnut.jpg');
	text-align: center;
	color:white;
	width:100px;
	height:50px;
	border:1px black solid;
}
.p-box-4{
	position:fixed;
	bottom:0px;
	right:0px;
	background-image: url('images/walnut.jpg');
	text-align: center;
	color:white;
	width:100px;
	height:50px;
	border:1px black solid;
}

.coollist{
	background: red;
}
.coollist li:nth-child(even){
	background:blue;
}
.coollist li:nth-child(odd){
	background:green;
	color:blue;
}

footer{
	color:yellow;
}

.shiny{
	animation-name:shinyanimation;
	animation-duration:1s;
	animation-iteration-count: infinite;
}

@keyframes shinyanimation{
	0%{color:rgb(255, 255, 255, 1.0);}
	15%{color:rgb(255, 0, 0, 1.0);}
	30%{color:rgb(255, 255, 0, 1.0);}
	45%{color:rgb(0, 255, 0, 1.0);}
	60%{color:rgb(0, 255, 255, 1.0);}
	75%{color:rgb(0, 0, 255, 1.0);}
	100%{color:rgb(255, 255, 255, 1.0);}
}
